<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Ephemerwall</title>
<link rel="icon" type="image/png" href="images/favicon.png" />
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700|Roboto:400,100,300,500,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="css/pichichi.css">

</head>

<body>

			<div class="cbp-af-header">
				<div class="cbp-af-inner">
					<a href="index.html" style="text-decoration:none"><h1>Ephemerwall</h1></a>
				</div>
			</div>
            
           
            
            <div id="intro">
                Display your brand by cleaning the streets !</br> Nous vous proposons un service vous permettant de diffuser vos publicités grâce à un moyen innovant. Grâce à nos netoyeurs à haute pression, nous vous permettons de toucher un
                large public à un moindre coût. Nos tags éphémère sont un moyen simple mais efficace de diffuser vos publicités
                dans les rues à la vue d'un très grand nombre de personnes. Nos experts et leur grande connaissance des terrains sauront vous conseiller pour selectionner les meilleurs spots. </br>


            </div>
            
            <div id="content">EXEMPLES
            
            <ul class="cbp-rfgrid">
    		<li><a href="#"><img src="images/01.png" /></a></li>
    		<li><a href="#"><img src="images/02.png" /></a></li>
   			<li><a href="#"><img src="images/03.png" /></a></li>
    		<li><a href="#"><img src="images/04.png" /></a></li>
    		<li><a href="#"><img src="images/05.png" /></a></li>
    		<li><a href="#"><img src="images/06.png" /></a></li>
			</ul>

            </div>
            
            
            <div id="contactwrapper">
            </br>
            <center>NOUS CONTACTER</center>
            <div id="contact">VOS QUESTIONS
            
            <form action="post.html" method="post" enctype="application/x-www-form-urlencoded">
			<!-- Label and text input -->
			<label for="regularInput">Nom de l'entreprise</label>
			<input type="text" id="regularInput" placeholder="" name = "nomentreprise" />
            
            <!-- Label and text input -->
			<label for="regularInput">Email</label>
			<input type="text" id="regularInput" placeholder="" name = "email"/>
 
			<!-- Label and textarea -->
			<label for="regularTextarea">Message</label>
			<textarea id="regularTextarea" placeholder="" name = "message" ></textarea>
 

			<button type="submit" value="post">OK
			
			</button>
 
			</form>
           
            </div>
            
            
            <div id="logo">
            
            </div>
            
            </div>
            
            
              
            
            <footer>
            FOOTER
            
            <div id="footersocial">
            <ul style="list-style:none; padding: 0px; margin: 0px; font-size: 29px;">
  			<a href="https://twitter.com/Ephemer_Wall" style="text-decoration:none"><li class="zocial-twitter"></li></a>
  			<a href="https://www.facebook.com/EphemerWall" style="text-decoration:none"><li class="zocial-facebook"></li></a>
            <a href="https://www.instagram.com/ephemerwall/" style="text-decoration:none"><li class="zocial-instagram"></li></a>
			</ul>
            </div>
          
            </footer>
            
            <script src="js/classie.js"></script>
			<script src="js/cbpAnimatedHeader.min.js"></script>
</body>
</html>
