<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Validation</title>
<link rel="icon" type="image/png" href="images/favicon.png" />
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700|Roboto:400,100,300,500,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="css/pichichi.css">

</head>

<body>

			<div class="cbp-af-header">
				<div class="cbp-af-inner">
					<a href="index.html" style="text-decoration:none"><h1>Ephemerwall</h1></a>
				</div>
			</div>
            
           
            
            <div id="intro">
                Nous avons bien recu votre message !</br>
				<form action="index.html">
				<button type="submit">HOME</button>
				</form>


            </div>
                    
            
            <footer>
            FOOTER
            
            <div id="footersocial">
            <ul style="list-style:none; padding: 0px; margin: 0px; font-size: 29px;">
  			<a href="https://twitter.com/Ephemer_Wall" style="text-decoration:none"><li class="zocial-twitter"></li></a>
  			<a href="https://www.facebook.com/EphemerWall" style="text-decoration:none"><li class="zocial-facebook"></li></a>
            <a href="https://www.instagram.com/ephemerwall/" style="text-decoration:none"><li class="zocial-instagram"></li></a>
			</ul>
            </div>
          
            </footer>
            
            <script src="js/classie.js"></script>
			<script src="js/cbpAnimatedHeader.min.js"></script>
</body>
</html>
